.Product{
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 5px 5px #dfdfdf;
    margin: auto;
    padding: 25px;
    border-radius: 9px;
}
.Product img{
    height: 200px;
    width: 200px;
}
.Product h1{
    height: 50px;
    width: 100%;
    font-size: 21px;
    line-height: 50px;
    font-weight: 500;
}
.Product p{
    height: 50px;
    width: 100%;
}
.Product button{
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(185, 185, 185);
    background-color: rgb(173, 138, 255);
}

.Product button:active {
    border: 2px solid rgba(115, 0, 160, 0.63);
  }
  
.Product button:hover{
background: linear-gradient(90deg, rgb(204, 0, 255) 0%, rgb(68, 0, 255) 100%);
}